@font-face {
    font-family: Futura;
    src: url('futura-bold-03-webfont.woff2') format('woff2'),
         url('futura-bold-03-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: Futura;
    src: url('futura-medium-01-webfont.woff2') format('woff2'),
         url('futura-medium-01-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

