* {
	outline: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	color: $dark-grey;
}

h1 {
	font: $h1-font;
}

h2 {
	font: $h2-font;
}

h3 {
	font: $h3-font;
}

h4 {
	font: $h4-font;
}

h5 {
	font: $h5-font;
}

h6 {
	font: $h6-font;
}

p {
	font: $p-font;

	&.small {
		font-size: $small-size;
		color: $medium-grey;
	}
}

a {
	font: $p-font;
	font-weight: 600;
	text-decoration: none;
	color: $dark-blue;
	@include ease-transition;

	&:hover, &:focus {
		opacity: 0.7;
	}
}

img {
	max-width: 100%;
}