@import '../../styles/1-helpers/all';

.activity-element {
    display: flex;
    background-color: $faded-grey;
    border-radius: 20px;
    padding: 20px;
    box-shadow: $popover-shadow;
    margin-bottom: 30px;

    > :first-child {
        margin-right: 30px;
    }

    .activity-title > a {
        font: $h3-font;
    }

    .todays-event {
        font: $h6-font;
    }

    @include media-breakpoint-down('sm') {
        display: block;

        > :first-child {
            margin-right: 0px;
            margin-bottom: 10px;
        }

        p {
            font-size: $small-size;
        }
    }
}