@import '../../styles/1-helpers/all';

.btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	@include ease-transition;

	border: none;
	border-radius: 5px;	
	padding: 10px 20px;
	box-shadow: $raised-shadow;
	
	font: 500 14px $futura;
	text-align: center;

	background-color: $dark-grey;
	color: $white;

	// States
	&:hover, &:focus {
		opacity: 0.7;
	}

	// Rounded
	&.btn-rounded {
		border-radius: 9999px;
	}

	// Icon
	&.btn-icon {
		text-align: left;
	}

	// Sizes
	&.btn-sm {
		font-size: 12px;
		padding: 10px 15px;
	}

	// Colors
	&.btn-medium-grey {
		background-color: $medium-grey;
	}

	&.btn-faded-grey {
		background-color: $faded-grey;
		color: $dark-grey;
	}

	&.btn-white {
		background-color: $white;
		color: $dark-grey;
	}

	&.btn-blue {
		background-color: $blue;
	}

	&.btn-red {
		background-color: $red;
	}

	&.btn-green {
		background-color: $green;
	}

	&.btn-purple {
		background-color: $purple;
	}
}

.btn-group {
	display: flex;
	flex-direction: row;

	> .btn {
		margin-right: 5px;
	}

	&.btn-group-vertical {
		flex-direction: column;
		width: fit-content;

		> .btn {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}