@import '../../styles/1-helpers/all';

.grid.activity-detail {
	> * {
		grid-column: span 6;
	}

    @include media-breakpoint-down('lg') {
		> * {
			grid-column: span 12;
		}

        > :first-child {
            margin-bottom: 40px;
        }
    }
}

.event-item {
    display: flex;
    justify-content: space-between;
	align-items: center;
	
	&:not(:last-child) {
		padding-bottom: 15px;
		border-bottom: 1px solid $light-grey;
		margin-bottom: 15px;
	}

	@include media-breakpoint-down('sm') {
		display: block;

		> :first-child {
			margin-bottom: 10px;
		}
    }
}
