@import '../../styles/1-helpers/all';

.grid.activity-detail {
	> * {
		grid-column: span 6;
	}

    @include media-breakpoint-down('lg') {
		> * {
			grid-column: span 12;
		}

        > :first-child {
            margin-bottom: 40px;
        }
    }
}