@import '../../styles/1-helpers/all';

.activity-item {
    display: flex;

    .progress-circle {
        margin-right: 30px;
    }

    .todays-event {
        font: $h6-font;
    }

    @include media-breakpoint-down('sm') {
        display: block;

        .progress-circle {
            margin-right: 0px;
            margin-bottom: 10px;
        }
    }
}
