@import '../../styles/1-helpers/all';

div.select-container {
	font: $p-font;
}

div.select__control {
	border: 1px solid $light-grey;
	border-radius: 5px;
	cursor: pointer;

	&.select__control--is-focused {
		border: 1px solid $blue;
		box-shadow: none;
	}
}

div.select__menu {
	border: 1px solid $light-grey;
	border-radius: 5px;
	box-shadow: $raised-shadow;
}

div.select__option {
	color: $dark-grey;
	cursor: pointer;

	&.select__option--is-focused {
		background-color: $faded-grey;
	}

	&.select__option--is-selected {
		background-color: $light-blue;
	}
}
