// Brand Colors
$blue: #4AA1F2;
$dark-blue: #00509A;
$light-blue: #C0E1FF;

// Secondary Colors
$red: #F24556;
$green: #2AD5B2;
$purple: #9D5BFF;

// Neutrals
$white: #FFFFFF;
$faded-grey: #E6E9ED;
$light-grey: #9DA1A6;
$medium-grey: #616366;
$dark-grey: #3D3E40;
$black: #000000;