// Brand Colors
$blue: #4597E3;
$dark-blue: #00509A;
$light-blue: #C0E1FF;

// Secondary Colors
$red: #D94150;
$green: #25BA9C;
$purple: #9D5BFF;

// Neutrals
$white: #FFFFFF;
$faded-grey: #E6E9ED;
$light-grey: #D0D4D9;
$medium-grey: #616366;
$dark-grey: #3D3E40;
$black: #000000;