// Brand Colors
$blue: #4597e3;
$dark-blue: #00509a;
$light-blue: #c0e1ff;

// Secondary Colors
$red: #d94150;
$yellow: #e8ca22;
$green: #0da587;
$purple: #966eea;

// Neutrals
$white: #ffffff;
$faded-grey: #e6e9ed;
$light-grey: #d0d4d9;
$medium-grey: #616366;
$dark-grey: #3d3e40;
