@import "fonts/avenir-next/styles";
@import "fonts/futura/styles";

// Font Families
// $futura: Futura, "Trebuchet MS", Arial, sans-serif;
$futura: Futura, Times;
$avenir-next: 'Avenir Next', Helvetica, Arial, sans-serif;

// Fonts
$h1-font: 700 25.768px/1.5 $futura;
$h2-font: 700 23.426px/1.5 $futura;
$h3-font: 500 21.296px/1.5 $futura;
$h4-font: 500 19.36px/1.5 $futura;
$h5-font: 500 17.6px/1.5 $futura;
$h6-font: 500 16px/1.5 $futura;
$p-font: 500 14px/1.5 $avenir-next;
$small-size: 12px;