@import "../../styles/1-helpers/all";

.event-item {
	&:not(:last-child) {
		padding-bottom: 15px;
		border-bottom: 1px solid $light-grey;
		margin-bottom: 15px;
	}

	@include media-breakpoint-down("sm") {
		display: block;

		> :first-child {
			margin-bottom: 10px;
		}
	}

	.btn-group {
		width: fit-content;
	}
}
