@import "../../styles/1-helpers/all";

.grid.activity-list > * {
    grid-column: span 6;

    @include media-breakpoint-down('lg') {
        grid-column: span 12;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.activity-list-empty {
    grid-column: 5 / span 4;

    @include media-breakpoint-down('lg') {
        grid-column: 4 / span 6;
    }

    @include media-breakpoint-down('sm') {
        grid-column: 3 / span 8;
    }
}